<!DOCTYPE html>
  <html lang="en">
    <head>
    </head>
    <body>
      <div class="block">
        <h1>Строение атома</h1>
        <style>
        </style>
      </div>
      <div class="block">
        <p><big>Атомы состоят из ядра и электронов (точнее, электронного «облака»).
          Ядро атома состоит из протонов и нейтронов. <br>
          Количество нейтронов в ядре может быть разным: от нуля до нескольких десятков. <br>
          Если число электронов совпадает с числом протонов в ядре, то атом в целом оказывается электрически нейтральным.</big></p>
       <h2>Как выглядит атом</h2>
       <p><big> Планетарная модель атома Резерфорда: в целом атом нейтрален, в центре атома расположено положительно заряженное ядро,
           <br>в котором сосредоточена почти вся масса атома. Число внутриатомных электронов, как и заряд ядра, <br>
           равны порядковому номеру элемента в периодической системе Д. И. Менделеева. <br>
           Электроны движутся вокруг ядра, подобно тому как планеты обращаются вокруг Солнца.</big></p>
       <img src="{{ url_for('static', filename='images/atom_res.svg') }}" alt="">
       <h2>Субатомные частицы</h2>
        <div class="task-card" style="background-color: #abcdef">
          <h3><big>Протоны, электроны и нейтроны относятся к субатомным частицам. <br>
             В физике субатомные частицы — это частицы, намного меньшие, чем атомы.</big></h3>
        </div>
        <table border="1">
          <tr>
            <th><strong>элементарная частица</strong></th>
            <th><strong>заряд (условные единицы)</strong></th>
            <th><strong>заряд (Кл)</strong></th>
	    <th><strong>масса (а.е.м)</strong></th>
	    <th><strong>масса (г)</strong></th>
         </tr>
         <tr>
            <td>протон</td>
    	    <td>+1</td>
	    <td>1,6 * 10<sup>-19</sup></td>
            <td>1</td>
            <td>1,7 * 10<sup>-24</sup></td>
         </tr>
         <tr>
            <td>нейтрон</td>
    	    <td>0</td>
	    <td>0</td>
            <td>1</td>
            <td>1,7 * 10<sup>-24</sup></td>
         </tr>
         <tr>
            <td>электрон</td>
    	    <td>-1</td>
	    <td>-1,6 * 10<sup>-19</sup></td>
            <td>0</td>
            <td>9,1 * 10<sup>-28</sup></td>
         </tr>
        </table>
        <p><big>Порядковый номер в таблице Менделеева соответствует заряду ядра. Так как заряд ядра определяют <br>
          протоны, а заряд протона в условных ядиницах равен 1, то порядковый номер определяет количество протонов в ядре.
          <br> Атом электрически нейтрален, значит суммарный заряд протонов равен (по модулю) суммарному заряду электронов, находящихся
          <br> вокруг ядра на энергетических уровнях. Заряд електрона равен -1 (в условных единицах), так что <br>
          можно сказать, что порядковый номер в таблице это ещё и количество электронов в атоме.</big></p>
        <p><big>Суммарное число протонов и нейтронов в ядре называют массовым числом. При этом масса элетронов не учитывается, так как его
          масса значительно меньше массы протона и нейтрона.</big></p>
        <div class="task-card" style="background-color: #abcdef">
          <h3><big>Массовое число указывают справа вверху от химического знака элемента, а заряд ядра - справа внизу</big></h3>
        </div>
        <h2>Изотопы</h2>
        <p><big>Массовые числа атомов одного и того же элемента могут различаться. Это связано с тем, что число протонов в ядре атома <br>
          любого элемента строго постоянно, а вот число нейтронов может быть разным.</big></p>
        <div class="task-card" style="background-color: #abcdef">
          <h3><big>Разновидности атомов одного и того же химического элемента, имеющие одинаковое число протонов,
            <br> но разное число нейтронов в ядре, называют <strong>изотопами</strong>.</big></h3>
        </div>
        <p><big>Изотопы известны практически у всех химических элементов. Например, у водорода известно три изотопа -
          <br> протий, дейтерий и радиоактивный тритий. В ядре атома протия имеется один протон, в ядре атома дейтерия - один протон
          <br> и один нейтрон, в ядре атома трития - один протон и два нейтрона.<br></big></p>
        <img src="{{ url_for('static', filename='images/hydrogen.svg') }}" alt=""
                 style="width: 50em">
        <a href="javascript:history.back()">
          <h3>Вернуться к урокам</h3>
        </a>
      </div>
    </body>
  </html>