<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Физика</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cards.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reg.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tests.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
    <meta name="viewport" content="width=765">
</head>
<body>
<div class="block">
    <h1 class="main_h1">Физика</h1>
</div>
<div class="block">
    <div class="block-l">
        <h1 class="label_lessons" align="center">Строение атома</h1>
        <br>
        <div style="line-height: 1.5em;">
            <a href="/physics">
                <img src="{{ url_for('static', filename='images/arrow.svg') }}" alt=""
                     style="width: 1.7em; vertical-align: middle">
            </a>
            <h3 class="label_lessons" style="margin-left: 1em; display: inline-block; vertical-align: middle">
                Физика</h3>
        </div>
        <p class="lesson-p">Атомы состоят из ядра и электронов (точнее, электронного «облака»).
            Ядро атома состоит из протонов и нейтронов. <br>
            Количество нейтронов в ядре может быть разным: от нуля до нескольких десятков. <br>
            Если число электронов совпадает с числом протонов в ядре, то атом в целом оказывается электрически
            нейтральным.
        </p>
        <h2 class="label_lessons">Как выглядит атом</h2>
        <p class="lesson-p">Планетарная модель атома Резерфорда: в целом атом нейтрален, в центре атома расположено
            положительно
            заряженное ядро,
            <br>в котором сосредоточена почти вся масса атома. Число внутриатомных электронов, как и заряд ядра, <br>
            равны порядковому номеру элемента в периодической системе Д. И. Менделеева. <br>
            Электроны движутся вокруг ядра, подобно тому как планеты обращаются вокруг Солнца.</p>
        <img src="{{ url_for('static', filename='images/atom_res.svg') }}" alt="">
        <h2 class="label_lessons">Субатомные частицы</h2>
        <div class="" style="background-color: #abcdef; padding: 0.5em 1em 0.5em 1em;">
            <p class="lesson-p">Протоны, электроны и нейтроны относятся к субатомным частицам. <br>
                В физике субатомные частицы — это частицы, намного меньшие, чем атомы.</p>
        </div>
        <br>
        <table class="table" border="1">
            <tr>
                <th><strong>элементарная частица</strong></th>
                <th><strong>заряд (условные единицы)</strong></th>
                <th><strong>заряд (Кл)</strong></th>
                <th><strong>масса (а.е.м)</strong></th>
                <th><strong>масса (г)</strong></th>
            </tr>
            <tr>
                <td>протон</td>
                <td>+1</td>
                <td>1,6 * 10<sup>-19</sup></td>
                <td>1</td>
                <td>1,7 * 10<sup>-24</sup></td>
            </tr>
            <tr>
                <td>нейтрон</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>1,7 * 10<sup>-24</sup></td>
            </tr>
            <tr>
                <td>электрон</td>
                <td>-1</td>
                <td>-1,6 * 10<sup>-19</sup></td>
                <td>0</td>
                <td>9,1 * 10<sup>-28</sup></td>
            </tr>
        </table>
        <p class="lesson-p">Порядковый номер в таблице Менделеева соответствует заряду ядра. Так как заряд ядра
            определяют <br>
            протоны, а заряд протона в условных ядиницах равен 1, то порядковый номер определяет количество протонов в
            ядре.
            <br> Атом электрически нейтрален, значит суммарный заряд протонов равен (по модулю) суммарному заряду
            электронов, находящихся
            <br> вокруг ядра на энергетических уровнях. Заряд електрона равен -1 (в условных единицах), так что <br>
            можно сказать, что порядковый номер в таблице это ещё и количество электронов в атоме.</p>
        <p class="lesson-p">Суммарное число протонов и нейтронов в ядре называют массовым числом. При этом масса
            элетронов не
            учитывается, так как его
            масса значительно меньше массы протона и нейтрона.</p>
        <div class="" style="background-color: #abcdef; padding: 0.5em 1em 0.5em 1em;">
            <h3>Массовое число указывают справа вверху от химического знака элемента, а заряд ядра - справа
                внизу
            </h3>
        </div>
        <h2 class="label_lessons">Изотопы</h2>
        <p class="lesson-p">Массовые числа атомов одного и того же элемента могут различаться. Это связано с тем, что
            число протонов
            в
            ядре атома <br>
            любого элемента строго постоянно, а вот число нейтронов может быть разным.</p>
        <div class="" style="background-color: #abcdef; padding: 0.5em 1em 0.5em 1em;">
            <h3>Разновидности атомов одного и того же химического элемента, имеющие одинаковое число протонов,
                <br> но разное число нейтронов в ядре, называют <strong>изотопами</strong>.</h3>
        </div>
        <p class="lesson-p">Изотопы известны практически у всех химических элементов. Например, у водорода известно три
            изотопа -
            <br> протий, дейтерий и радиоактивный тритий. В ядре атома протия имеется один протон, в ядре атома дейтерия
            -
            один протон
            <br> и один нейтрон, в ядре атома трития - один протон и два нейтрона.<br></p>
        <img src="{{ url_for('static', filename='images/hydrogen.svg') }}" alt=""
             style="width: 50em">

        <br>
        <br>
        <a href="{{ card.link }}/test">
            <div class="task-card" style="background-color: {{ card.color }}">
                <h2 class="task_label">Пройти тест</h2>
                <img src="{{ url_for('static', filename='images/' + card.source) }}" class="task_image">
            </div>
        </a>
    </div>
</div>
</body>
</html>