<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=765">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" href="static/css/reg.css">
    <link rel="stylesheet" href="static/css/cards.css">
    <link rel="icon" href="static/images/shapes.svg" type="image/svg+xml">
    <title>{{ title }}</title>
</head>
<body>
<form method="post">
    <div class="header block">
        {% if current_user.is_authenticated %}
        <a class="navbar-brand" href="/profile/{{ current_user.id }}">{{ current_user.surname }} {{ current_user.name
            }}</a>
        <button type="submit" class="btn btn-primary">Выйти</button>
        {% else %}
        <p>
            <a class="btn btn-primary" href="/register">Зарегистрироваться</a>
            <a class="btn btn-success" href="/login">Войти</a>
        </p>
        {% endif %}
    </div>
</form>
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
<footer><h4 class="footer_inf">Волгоград, 2021</h4></footer>
</body>
</html>