<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=765">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" href="static/css/cards.css">
    <link rel="icon" href="static/images/shapes.svg" type="image/svg+xml">
    <title>{{ title }}</title>
</head>
<body>
<div class="header block">
    {% if current_user.is_authenticated %}
        <a href="/profile">
            <h1 class="main_h1">{{ title }}</h1>
            <div class="my-profile card" style="padding: 0.4em 2em 0.4em 2em; width: auto;">
                <img src="{{ url_for('static', filename='images/avatar.svg') }}" alt="" class="avatar-img">
                <h4 class="user-label">{{ current_user.name }} {{ current_user.surname }}</h4>
            </div>
        </a>
        {# если уже вошел#}
    {% else %}
        <div class="inner-header">
            <h1 class="main_h1">{{ title }}</h1>
            <div style="display: inline-block; position: relative; float: right; line-height: 100%;">
                <a href="/login" class="register">Войти</a>
            </div>
        </div>
    {% endif %}
</div>
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
<footer><h4 class="footer_inf">Волгоград, 2021</h4></footer>
</body>
</html>