<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информатика</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cards.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reg.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tests.css') }}">
    <meta name="viewport" content="width=765">
</head>
<body>
<div class="header block">
    <h1 class="main_h1">Информатика</h1>
</div>
<div class="block">
    <div class="block-l">
        <h1 class="label_lessons" align="center">Двоичная система</h1>
        <br>
        <div style="line-height: 1.5em;">
            <a href="/computers">
                <img src="{{ url_for('static', filename='images/arrow.svg') }}" alt=""
                     style="width: 1.7em; vertical-align: middle">
            </a>
            <h3 class="label_lessons" style="margin-left: 1em; display: inline-block; vertical-align: middle">
                Информатика</h3>
        </div>
        <p class="lesson-p"><strong>Двоичной системой счисления</strong> называется позиционная система счисления с
            основанием 2.
            Для записи чисел в двоичной системе счисления используются только две цифры: <i>0</i> и <i>1</i>.
        </p>
        <p class="lesson-p">Благодаря непосредственной реализации в цифровых электронных схемах на логических вентилях,
            двоичная система используется практически во всех современных компьютерах и прочих вычислительных
            электронных устройствах.</p>
        <br>
        <br>
        <br>
        <h2 class="label_lessons" align="center">
            Перевод чисел из десятичной системы счисления в двоичную
        </h2>
        <br>
        <p class="lesson-p">Алгоритм перевода десятичного числа в двоичную:</p>
        <ol class="lesson-p">
            <li>Разделить исходное число на 2 с остатком</li>
            <li>Разделить частное на 2 с остатком</li>
            <li>Продолжать, пока частное не достигнет единицы</li>
            <li>Записать остатки в обратном порядке</li>
        </ol>
        <p class="lesson-p">Предлагаем вам ознакомиться с алгоритмом на примере:</p>
        <iframe width="540em" height="325em" src="https://www.youtube.com/embed/pwyp38gAyRo"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        <br>
        <br>
        <h2 class="label_lessons" align="center">
            Перевод чисел из двоичной системы счисления в десятичную
        </h2>
        <p class="lesson-p">Алгоритм перевода чисел из двоичной системы счисления в десятичную:</p>
        <ol class="lesson-p">
            <li>Расставить номера, начиная с конца, над каждой цифрой числа</li>
            <li>Умножить каждую цифру на 2 в той степени, под каким номером она расположена</li>
            <li>Сложить каждое такое произведение</li>
        </ol>
        <p class="lesson-p">Предлагаем вам ознакомиться с алгоритмом на примере:</p>
        <iframe width="540em" height="325em" src="https://www.youtube.com/embed/jeSErJeu_7Q"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        <br>
        <br>
        <a href="{{ card.link }}/test">
            <div class="task-card" style="background-color: {{ card.color }}">
                <h2 class="task_label">Пройти тест</h2>
                <img src="{{ url_for('static', filename='images/' + card.source) }}" class="task_image">
            </div>
        </a>
    </div>

</div>
</body>
</html>
