<!doctype html>
<html lang="en">
  <!doctype html>
  <html lang="en">
    <head>
    </head>
    <body>
      <div class="block">
        <h1>Двоичная система</h1>
        <style>
        </style>
      </div>
      <div class="block">
        <p><big><strong>Двоичной системой счисления</strong> называется позиционная система счисления с основанием 2.<br>
          Для записи чисел в двоичной системе счисления используются только две цифры: 0 и 1.</big>
        </p>
        <p><big>Благодаря непосредственной реализации в цифровых электронных схемах на логических вентилях,<br>
          двоичная система используется практически во всех современных компьютерах и прочих вычислительных электронных устройствах.</big>
        </p>
        <h2>Перевод чисел из двоичной системы счисления в десятичную</h2>
        <p><big>На основании формулы (1) для целых двоичных чисел можно записать:</big></p>
        <div class="task-card" style="background-color: #abcdef">
          <h2 class="task_label">а<sub>n-1</sub>а<sub>n-2</sub>...а<sub>1</sub>а<sub>0</sub>
            = a<sub>n-1</sub> • 2<sup>n-1</sup> + а<sub>n-2</sub> • 2<sup>n-2</sup> +...+ а<sub>0</sub> • 20. (1)
          </h2>
        </div>
        <p><big>Например:</big></p>
        <div class="task-card" style="background-color: #abcdef">
          <h2 class="task_label">100112 = 1 • 2<sup>4</sup> + 0 • 2<sup>3</sup> + 0 • 2<sup>2</sup>
            + 1 • 2<sup>1</sup> + 1 • 2<sup>0</sup> = 2<sup>4</sup> + 2<sup>1</sup> + 2<sup>0</sup> = 16 + 2 + 1 = 19<sub>10</sub>.
          </h2>
        </div>
        <p><big>Такая форма записи «подсказывает» правило перевода натуральных двоичных чисел в десятичную систему счисления:<br>
          необходимо вычислить сумму степеней двойки, соответствующих единицам в свёрнутой форме записи двоичного числа.</big>
        </p>
        <h2>Перевод десятичного числа в двоичное</h2>
        <p><big>Одним из алгоритмов перевода десятичного числа в двоичное является деление нацело на два с последующим "сбором" двоичного числа из остатков. <br>
          Переведем таким образом число 22 в двоичное представление.</big>
        <p>
        <div class="task-card" style="background-color: #abcdef">
          <h2>
          22 / 2 = 11 (остаток 0) <br>
          11 / 2 = 5 (остаток 1) <br>
          5 / 2 = 2 (остаток 1) <br>
          2 / 2 = 1 (остаток 0) <br>
          1 / 2 = 0 (остаток 1) 
          <h2>
        </div>
        <p><big>Собираем остатки вместе, начиная с конца: 10110<sub>2</sub>.</big></p>
        <a href="javascript:history.back()"><h3>Вернуться к урокам</h3></a>
      </div>
    </body>
  </html>
