<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информатика</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cards.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reg.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tests.css') }}">
    <meta name="viewport" content="width=765">
</head>
<body>
<div class="header block">
    <h1 class="main_h1">Информатика</h1>
</div>
<div class="block">
    <div class="block-l">
        <h1 class="label_lessons" align="center">Процессор</h1>
        <br>
        <div style="line-height: 1.5em;">
            <a href="/computers">
                <img src="{{ url_for('static', filename='images/arrow.svg') }}" alt=""
                     style="width: 1.7em; vertical-align: middle">
            </a>
            <h3 class="label_lessons" style="margin-left: 1em; display: inline-block; vertical-align: middle">
                Информатика</h3>
        </div>
        <p class="lesson-p">Центральным устройством компьютера (CPU) является <strong>процессор</strong>. <br>
            Он организует приём данных, считывание из оперативной памяти очередной команды, её анализ и выполнение, а
            также отправку результатов
            работы
            на требуемое устройство.
            Основными характеристиками процессора являются его <i>тактовая частота</i> и <i>разрядность</i>.
        </p>
        <img src="{{ url_for('static', filename='images/processor-photo.jpg') }}" alt="устройство cpu"
             style="width: 25em; margin: 3em">
        <p class="lesson-p">Процессор обрабатывает поступающие к нему электрические сигналы (импульсы).
            Промежуток времени между двумя последовательными электрическими импульсами называется
            <strong><u>тактом</u></strong>.<br>
            На выполнение процессором каждой операции выделяется определённое количество тактов.
        </p>
        <div>
            <p class="lesson-p">Тактовая частота процессора равна количеству тактов обработки данных, которые
                процессор производит за 1 секунду.<br>
                Тактовая частота измеряется в мегагерцах (МГц) — миллионах тактов в секунду.<br>
                Чем больше тактовая частота, тем быстрее работает компьютер. Тактовая частота современных процессоров
                уже
                превышает 1000 МГц = 1 ГГц (гигагерц).</p>
        </div>
        <p class="lesson-p"><strong><u>Разрядность процессора</u></strong> — это максимальная длина двоичного кода,
            который может
            обрабатываться или передаваться одновременно.<br>
            Разрядность процессоров современных компьютеров достигает 64.
        </p>
        <p class="lesson-p">CPU обрабатывает процессы на двоичном машинном языке: проще говоря, «0» означает «нет», а
            «1» —
            «да».<br>
            Любая команда отправляется процессору в комбинации из двух чисел 0 и 1.
            ЦП обрабатывает их одну за другой, по очереди.<br>
            Помимо рабочих команд, процессор также реагирует на непредвиденные события.<br>
            Они отправляются ему с помощью прерываний (Interrupts). CPU прерывает свою сиюминутную работу, сохраняет
            значения и сначала обрабатывает непредвиденное событие.<br>
            После этого он снова продолжает работу над первоначальной командой.
        </p>
        <br>
        <br>
        <a href="/computers/cpu/test">
            <div class="task-card" style="background-color: #5660FF">
                <h2 class="task_label">Пройти тест</h2>
                <img src="{{ url_for('static', filename='images/processor.svg') }}" class="task_image">
            </div>
        </a>
    </div>

</div>
</body>
</html>
