<!doctype html>
<html lang="en">
  <!doctype html>
  <html lang="en">
    <head>
    </head>
    <body>
      <div class="block">
        <h1>Процессор</h1>
        <style>
        </style>
      </div>
      <div class="block">
        <p><big>Центральным устройством компьютера (CPU) является <strong>процессор</strong>. Он организует приём данных, считывание из оперативной памяти очередной команды,<br>
          её анализ и выполнение, а также отправку результатов работы на требуемое устройство.<br>
          Основными характеристиками процессора являются его тактовая частота и разрядность.</big>
        </p>
        <p><big>Процессор обрабатывает поступающие к нему электрические сигналы (импульсы).
	  Промежуток времени между двумя последовательными электрическими импульсами называется тактом.<br>
          На выполнение процессором каждой операции выделяется определённое количество тактов.</big>
        </p>
        <div class="task-card" style="background-color: #abcdef">
          <h3><big><strong>Тактовая частота процессора</strong> равна количеству тактов обработки данных, которые процессор производит за 1 секунду.<br>
            Тактовая частота измеряется в мегагерцах (МГц) — миллионах тактов в секунду.<br>
            Чем больше тактовая частота, тем быстрее работает компьютер. Тактовая частота современных процессоров уже превышает 1000 МГц = 1 ГГц (гигагерц).</big></h3>
        </div>
        <div class="task-card" style="background-color: #abcdef">
          <h3><big><strong>Разрядность процессора</strong> — это максимальная длина двоичного кода, который может обрабатываться или передаваться одновременно.<br>
	    Разрядность процессоров современных компьютеров достигает 64.</big>
          </h3>
        </div>
        <p><big>CPU обрабатывает процессы на двоичном машинном языке: проще говоря, «0» означает «нет», а «1» — «да».<br>
          Любая команда отправляется процессору в комбинации из двух чисел 0 и 1.
          ЦП обрабатывает их одну за другой, по очереди.<br>
          Помимо рабочих команд, процессор также реагирует на непредвиденные события.<br>
          Они отправляются ему с помощью прерываний (Interrupts). CPU прерывает свою сиюминутную работу, сохраняет значения и сначала обрабатывает непредвиденное событие.<br>
          После этого он снова продолжает работу над первоначальной командой.</big>
        </p>
        <h2>Устройство процессора</h2>
        <img src="static/images/cpu.svg" alt="устройство cpu" style="width: 1.7em; vertical-align: middle">
	<a href="javascript:history.back()"><h3>Вернуться к урокам</h3></a>
      </div>
    </body>
  </html>