<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Физика</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cards.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reg.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tests.css') }}">
    <meta name="viewport" content="width=765">
</head>
<body>
<div class="header block">
    <h1 class="main_h1">Физика</h1>
</div>
<div class="block">
    <div class="block-l">
        <h1 class="label_lessons" align="center">Электромагнитные волны</h1>
        <br>
        <div style="line-height: 1.5em;">
            <a href="/physics">
                <img src="{{ url_for('static', filename='images/arrow.svg') }}" alt=""
                     style="width: 1.7em; vertical-align: middle">
            </a>
            <h3 class="label_lessons" style="margin-left: 1em; display: inline-block; vertical-align: middle">
                Физика</h3>
        </div>
        <p class="lesson-p"><i>Электромагнитная волна</i> предстваляет собой систему порождающих друг друга и
            распространяющихся в пространстве переменных электрического и магнитного полей.
        </p>
        <p class="lesson-p">Максвелл предположил, что переменное магнитное поле и электрическое поле равноправны,
            и изменение одного из полей будет вызывать появление другого. Согласно его теории электромагнитные волны излучаются при
            при любом неравномерном движении заряда
        </p>
        <p class="lesson-p">В связи с тем, что электромагнитные волны распространяются в веществе и в вакууме, возникает вопрос:
            <i>что совершает колебания в электромагнитной волне</i>, т.е. какие физические величины переодически изменяются в ней?</p>

        <p class="lesson-p">Количественной характеристикой магнитного поля является <strong>вектор магнитной индукции B</strong>.
            Количественной характеристикой электрического поля является <strong>вектор напряжённости электрического поля E</strong>.
        </p>
        <p class="lesson-p">Когда говорят, что магнитное и электрическое поле меняются, то это означает, что меняются
            соответственно вектор индукции магнитного поля B и вектор напряжённости электрического поля E.
        </p>
        <p class="lesson-p">В электромагнитной волне именно векторы B и E периодически меняются по модулю и направлению,
            т. е. колеблются.
        </p>
        <p class="lesson-p"><i>Электромагнитные волны могут возбуждаться только ускоренно движущимися электрическими зарядами.</i>
        </p>
        <p class="lesson-p">Всё окружающее пространство пронизано электромагнитными волнами. Они разделены на шесть основных диапазонов
            (по длинам волн и их частотам).
        </p>
        <p class="lesson-p"><i>Радиоволны</i> - это электромагнитные волны (с длиной волны от 10000 м до 0,005 м), служащие для передачи сигналов (информации)
            на расстояние без проводов. В радиосвязи радиоволны создаются высокочастотными токами, текущими в антенне.
        </p>
        <p class="lesson-p">Электромагнитные излучения с длиной волны,
            от 0,005 м до 1 мкм, т.е. лежащие между диапазоном радиоволн и диапазоном видимого света, называются <i>инфракрасным излучением</i>.
            Инфракрасное излучение испускают любые нагретые тела. Источником инфракрасного излучения служат печи, батареи, электрические лампы накаливания.
            С помощью специальных приборов инфракрасное излучение можно преобразовать в видимый свет и получать изображения нагретых предметов в полной темноте.
        </p>
        <p class="lesson-p">Электромагнитные излучения с длиной волны,К <i>видимому свету</i> относят излучения с длиной волны примерно 770 нм до 380 нм, от красного до фиолетового цвета. Значение этого участка спектра
            электромагнитных излучений в жизни человека исключительно велико, так как почти все сведения об окружающем мире человек получает с помощью зрения.
        </p>
        <p class="lesson-p">Электромагнитные излучения с длиной волны,Невидимое глазом электромагнитное излучение с длиной волны меньше, чем у фиолетового цвета, называют <i>ультрафиолетовым излучением</i>.
            Оно способно убивать болезнетворные бактерии.<br><i>Рентгеновское</i> излучение невидимо глазом. Оно проходит без существенного поглощения через значительные
            слои вещества, непрозрачного для видимого света, что используют для диагностики заболеваний внутренних органов.
        </p>
        <p class="lesson-p"><i>Гамма-излучением</i> называют электромагнитное излучение, испускаемое возбужденными ядрами и возникающее при взаимодействии элементарных частиц.
        </p>
        <a href="{{ card.link }}/test">
            <div class="task-card" style="background-color: {{ card.color }}">
                <h2 class="task_label">Пройти тест</h2>
                <img src="{{ url_for('static', filename='images/' + card.source) }}" class="task_image">
            </div>
        </a>
    </div>

</div>
</body>
</html>