<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/main.css">
    <title>Главная</title>
</head>
<body>
<div class="header block">
    <h1 class="main_h1">Онлайн Школа</h1>
        <a href="/login" class="register">
            Вход/регистрация
        </a>
</div>
<div class="lessons_box block">
    <h2 class="label_lessons" align="center">Предметы</h2>
    <div class="lessons_cards">
        <div class="card">
            <a href="/math">
                <div>
                    <img src="static/shapes.svg" class="math_ico" alt="">
                    <h3 class="math_label">Математика</h3>
                    <h3 class="math_label2">Последовательности</h3>
                </div>
            </a>
        </div>
        <div class="card">
            <a href="/physics">
                <div><img src="static/magnet-2.svg" class="magnet" alt="">
                    <h3 class="math_label">Физика</h3>
                    <h3 class="math_label2">Правило Ленца</h3>
                </div>
            </a>
        </div>
        <div class="card">
            <a href="/computers">
                <div>
                    <img src="static/computer.svg" class="math_ico" alt="">
                    <h3 class="math_label">Информатика</h3>
                    <h3 class="math_label2">DNS</h3>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="block">
    <h3 class="about">О нас</h3>
    <p class="about_p">Изучайте программу 9 класса по математике, физике и информатике, проверяйте свои знания.
        Вы можете отслеживать свою статистику по прохождению тестов, комментировать задания и многое другое.
</div>
<footer><h4 class="footer_inf">Волгоград, 2021</h4></footer>

</body>
</html>