<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/css/main.css">
</head>
<body>
<div class="block"><a href="../"><h1 class="main_h1">Правило Ленца</h1></a>
</div>
<div class="block">
    <h2 class="label_lessons">Физика, 9 класс</h2>
    <p>Ознакомьтесь с видеоматериалом</p>

    <iframe style="width: 31em; height: 17em; margin-bottom: 1em" src="https://www.youtube.com/embed/q-Rd2DvlTU4"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>

    <p>Формулировка правила: <br> <br>
        <i>Индукционный ток всегда имеет такое направление, что он ослабляет действие причины, возбуждающей этот
            ток.</i></p>

</div>

</body>
</html>
