<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/main.css">
</head>
<body>
<div class="block"><a href="../"><h1 class="main_h1">Геометрические последовательности. Сумма первых n членов</h1></a>
</div>
<div class="block">
    <h2 class="label_lessons">Алгебра, 9 класс</h2>
    <p>Пусть (bn) - геометрическая прогрессия, S - сумма первых n ее членов, т.е.</p>
    <img src="static/formula_1.png" style="width: 11em" alt="">
    <p>Умножим обе части равенства на q</p>
    <img src="static/formula_2.png" style="width: 13em" alt="">
    <p>Из определения геометрической прогрессии следует, что</p>
    <img src="static/formula_3.png" style="width: 13em" alt="">
    <p>Значит, полученное равенство можно записать</p>
    <img src="static/formula_4.png" style="width: 13em" alt="">
    <p>Это выражение можно преобразовать</p>
    <img src="static/formula_5.png" style="width: 12em; border: #2f80ed 2px solid" alt="">

</div>

</body>
</html>