<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Регистрация</title>
    <link rel="stylesheet" href="static/css/reg.css">
</head>
<body>
<div class="block"><h1 class="main_log">Вход</h1></div>
<div class="block mainb">
    <br>
    <a href=".//" class="back_to_main">Главная</a>/<a href="" class="back_to_main">Вход</a>
    <h2 class="second_log">Добро пожаловать!</h2>
    <form action="">
        <div class="mail_input">
            <img src="static/images/user.svg" alt="" class="user-input user-img">
            <label>
                <input type="email" class="user-input mail_input_field" placeholder="Почта">
            </label>
        </div>
        <div class="password_input">
            <img src="static/images/key.svg" alt="" class="passw_input pw_img">
            <input type="password" class="passw_input password-input-field" placeholder="Пароль">
        </div>
        <button class="log_in_btn">Войти</button>
    </form>
</div>
</body>
</html>