<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Вход</title>
    <link rel="stylesheet" href="static/css/reg.css">
    <link rel="stylesheet" href="static/css/main.css">
    <meta name="viewport" content="width=765">
</head>
<body>
<div class="block"><h1 class="main_h1">Моя школа</h1></div>
<div class="block mainb" style="padding-bottom: 1em;">

    <div style="line-height: 0.8em; margin-top: 0.5em;">
        <a href="../">
            <img src="{{ url_for('static', filename='images/arrow.svg') }}" alt=""
                 style="width: 1.7em; vertical-align: middle">
        </a>
        <h2 class="label_lessons" style="margin-left: 1em; display: inline-block; vertical-align: middle">Добро
            пожаловать!</h2>
    </div>
    <br>

    <div >
        <form action="" method="post">
            <div style="width: 50%;">
                <br>
                <label> &ensp;
                    <input type="text" class="user-input mail_input_field" placeholder="Фамилия" name="surname">
                </label>
                <br>
                <br>
                <label> &ensp;
                    <input type="text" class="user-input mail_input_field" placeholder="Имя" name="name">
                </label>
                <br>
                <br>
                <label><font color="red">*</font>
                    <input type="email" class="user-input mail_input_field" placeholder="Почта" name="mail">
                </label>
                <br>
                <br>
                <label><font color="red">*</font>
                    <input type="password" class="user-input mail_input_field" placeholder="Пароль" name="password">
                </label>
                <br>
                <br>
                <br>
                <button class="log_in_btn" style="width: 15em">Регистрация</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>