  <!doctype html>
  <html lang="en">
    <head>
    </head>
    <body>
      <div class="block">
        <h1>Последовательности</h1>
        <style>
        </style>
      </div>
      <div class="block">
        <p><big>В математике <strong>последовательность</strong> — это пронумерованный набор каких-либо объектов, <br>
          среди которых допускаются повторения, причём порядок объектов имеет значение.</big>
        </p>
        <p><big>Числа, образующие последовательность, называют членами последовательности; число, стоящее на первом месте, <br>
          называют первым членом, на втором месте - вторым членом, на сотом месте - сотым членом, на месте с номером n - n-м членом последовательности.</big>
        </p>
        <p><big>Обозначают члены последовательности буквами с индексами, указывающими на порядковый номер члена:</big>
        </p>
        <div class="task-card" style="background-color: #abcdef">
          <h3><big>a<sub>1</sub>; a<sub>2</sub>; a<sub>3</sub>; a<sub>4</sub>; ...; a<sub>100</sub>; ...; a<sub>n</sub>; ... .</big></h3>
        </div>
        <p><big>Член последовательности, следующий за членом с номером n, имеет номер n + 1, поэтому его 
          обозначают символом a<sub>n-1</sub>.<br>А член, предшествующий a<sub>n</sub>, обозначается a<sub>n-1</sub>. Саму 
          последовательность принято обозначать так: <strong>(a<sub>n</sub>)</strong></big>
        </p>
        <h2>Примеры последовательностей:</h2>
        <div class="task-card" style="background-color: #abcdef">
          <h3><big>1; 2; 3; 4; 5; 6; 7; 8; 9; 10; ... (последовательность натуральных чисел)</big></h3>
        </div>
        <div class="task-card" style="background-color: #abcdef">
          <h3><big>1; 0; 1; 0; 1; 0; 1; 0; 1; 0; ... (последовательность из нуля и единицы)</big></h3>
        </div>
        <div class="task-card" style="background-color: #abcdef">
          <h3><big>3; 3; 3; 3; 3; 3; 3; 3; 3; 3; ... (последовательность из троек - <strong>постоянная</strong>)</big></h3>
        </div>
        <div class="task-card" style="background-color: #abcdef">
          <h3><big>2; 4; 6; 8; 10; 12; 14; 16; 18; 20; ... (последовательность четных чисел)</big></h3>
        </div>
        <div class="task-card" style="background-color: #abcdef">
          <h3><big>1; 1; 2; 3; 5; 8; 13; 21; 34; 55; ... (последовательность Фибоначчи)</big></h3>
        </div>
        <p><big>Рассмотрим поподробнее последнюю из них. Правила её построения: <br>
          a<sub>1</sub> = 1;<br>a<sub>2</sub>=1<br>a<sub>3</sub>=a<sub>2</sub> + a<sub>1</sub>;<br>a<sub>4</sub>
          = a<sub>3</sub> + a<sub>2</sub>;<br>a<sub>5</sub> = a<sub>4</sub> + a<sub>3</sub>;</big>
        </p>
        <p><big>Для члена с произвольным номером n соответствующее равенство будет выглядеть так:</big>
        </p>
        <div class="task-card" style="background-color: #abcdef">
          <h3><big>a<sub>n</sub> = a<sub>n - 1</sub> + a<sub>n - 2</sub></big></h3>
        </div>
        <p><big>Таким образом, последовательность чисел Фибоначчи задаётся следующими условиями:</big>
        </p>
        <div class="task-card" style="background-color: #abcdef">
          <h3><big>a<sub>1</sub> = 1; a<sub>2</sub> = 1; a<sub>n</sub> = a<sub>n - 1</sub> + a<sub>n - 2</sub>, где n >= 3</big></h3>
        </div>
        <p><big>Формула a<sub>n</sub> = a<sub>n - 1</sub> + a<sub>n - 2</sub> относится к <strong>реккурентным формулам</strong>.<br>
          Реккурентная формула выражает любой член последовательности, начиная с некоторого, через один или несколько предыдущих
          членов. <br> При реккурентном способе задания члены последовательности вычисляются поочерёдно один за другим.</big>
        </p>
        <p><big>Последовательность возможно задать, указав все её члены или указав общую формулу. <br>
          Формула показывает, как найти любой член последовательности, если известен порядковый номер n.<br>
          Такая формула называется <strong>формулой n-го члена</strong> последовательности. Рассмотрим пример: <strong>
          a<sub>n</sub> = 2 * n - 1</strong> Таким образом:<br>a<sub>1</sub> = 2 * 1 - 1 = 1<br>
          a<sub>2</sub> = 2 * 2 - 1 = 3<br>a<sub>3</sub> = 2 * 3 - 1 = 5<br>a<sub>4</sub> = 2 * 4 - 1 = 7<br></big>
        </p>
        <div class="task-card" style="background-color: #abcdef">
          <h3><big>Последовательность будет иметь вид: 1; 3; 5; 7; ...</big></h3>
        </div>
        <a href="javascript:history.back()">
          <h3>Вернуться к урокам</h3>
        </a>
      </div>
    </body>
  </html>
