<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Математика</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cards.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reg.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tests.css') }}">
    <meta name="viewport" content="width=765">
</head>
<body>
<div class="header block">
    <h1 class="main_h1">Математика</h1>
</div>
<div class="block">
    <div class="block-l">
        <h1 class="label_lessons" align="center">Стереометрия</h1>
        <br>
        <div style="line-height: 1.5em;">
            <a href="/math">
                <img src="{{ url_for('static', filename='images/arrow.svg') }}" alt=""
                     style="width: 1.7em; vertical-align: middle">
            </a>
            <h3 class="label_lessons" style="margin-left: 1em; display: inline-block; vertical-align: middle">
                Математика</h3>
        </div>
        <p class="lesson-p">Раздел геометрии, в котором изучают свойства фигур называется <i>стереометрией</i>
            Это слово происходит от древнегреческих слов «stereos» — объёмный, пространственный и «metria» — измерение.
        </p>
        <p class="lesson-p">В стереометрии наряду с точками, прямыми и плоскостями рассматриваются геометрические тела и их поверхности.
            Это многогранники: призма, параллелепипед, пирамида, усечённая пирамида, тэтраэдр, октаэдр и другие.
            И круглые тела: цилиндр, конус, усечённый конус, шар и другие.
        </p>
        <p class="lesson-p">Если поверхности геометрических тел составлены из многоугольников,
            то такие тела называются <i>многогранниками</i>.
        </p>
        <p class="lesson-p"><i>Грани</i> — это многоугольники, из которых состоит многогранник.
            Две соседние грани не могут лежать в одной плоскости. Рёбра многогранника— это стороны граней, а вершины — это концы рёбер.
        </p>
        <p class="lesson-p"><i>Диагональ</i> многогранника — это отрезок, который соединяет две вершины,
            не принадлежащие одной грани. Многогранники бывают выпуклыми и невыпуклыми. Выпуклый многогранник характеризуется тем,
            что он расположен по одну сторону от плоскости каждой своей грани.
        </p>
        <p class="lesson-p">Для дальнейшего понимания стоит ввести несколько понятий.<br>
            Две плоскости называются параллельными, если они не имеют общих точек.<br>
            Две прямые в пространстве называются параллельными, если они лежат в одной плоскости и не пересекаются.<br>
            Прямую называют перпендикулярной к плоскости, если она перпендикулярна к любой прямой в этой плоскости.
        </p>
        <br>
        <h4 class="label_lessons" style="margin-left: 1em; display: inline-block; vertical-align: middle">
                Призма</h4>
        <img src="{{ url_for('static', filename='images/prizma.svg') }}">
        <p class="lesson-p"><i>n-угольной призмой</i> называют многогранник, составленный из двух равных n-угольников, лежащих в параллельных плоскостях,
            и n-параллелограммов, которые образовались при соединении вершин n-угольников отрезками параллельных прямых.
        </p>
        <ul class = "lesson-p"><li>Равные n-угольники называют основаниями призмы.
        <li>Стороны многоугольников называют рёбрами оснований.
        <li>Параллелограммы называют боковыми гранями призмы.
        <li>Параллельные отрезки называют боковыми рёбрами призмы.
        <li>Призмы бывают прямыми и наклонными.
        <li>Если основания прямой призмы — правильные многоугольники, то такую призму называют правильной.
        <li>У прямых призм все боковые грани — прямоугольники. Боковые рёбра прямой призмы перпендикулярны к плоскостям её оснований.
        <li>Если из любой точки одного основания провести перпендикуляр к другому основанию призмы, то этот перпендикуляр называют высотой призмы.</ul>
        <h4 class="label_lessons" style="margin-left: 1em; display: inline-block; vertical-align: middle">
                Параллелепипед</h4>
        <ul class = "lesson-p"><li>Если основания прямого параллелепипеда — прямоугольники, то этот параллелепипед — прямоугольный.</ul><br>
        <h4 class="label_lessons" style="margin-left: 1em; display: inline-block; vertical-align: middle">
                Пирамида</h4>
        <img src="{{ url_for('static', filename='images/pyramid.svg') }}">
        <p class="lesson-p"><i>n-угольная пирамида</i> — многогранник, составленный из n-угольника в основании и n-треугольников,
            которые образовались при соединении точки вершины пирамиды со всеми вершинами многоугольника основания.
        </p>
        <ul class = "lesson-p"><li>n-угольник называют основанием пирамиды.
        <li>Треугольники — боковые грани пирамиды.
        <li>Общая вершина треугольников — вершина пирамиды.
        <li>Рёбра, выходящие из вершины — боковые рёбра пирамиды.
        <li>Перпендикуляр от вершины пирамиды к плоскости основания называют высотой пирамиды.
        <li>Пирамиду, в основании которой правильный многоугольник, и высота соединяет вершину пирамиды с центром правильного многоугольника,
            называют правильной.
        <li>У правильной пирамиды все боковые грани — равные равнобедренные треугольники.
            Если провести высоты этих треугольников, то они также будут равны.
        <li>Высоту боковой грани правильной пирамиды называют апофемой.</ul>
        <a href="/math/stereometry/test">
            {#        ниже нужно ставить цвет от объекта ...#}
            <div class="task-card" style="background-color: #A858D6">
                {#            и здесь тоже нужно название  из класса#}
                <h2 class="task_label">Пройти тест</h2>
                <img src="{{ url_for('static', filename='images/123-numbers.svg') }}" class="task_image">
            </div>
        </a>
    </div>

</div>
</body>
</html>