{% extends "base.html" %}

{% block content %}
<form action="" method="post" novalidate>
    <div>
        <input id="csrf_token" name="csrf_token" type="hidden"
               value="IjdhOTRkZDNhMDE2MzkyYzVhMGVkMzFjMGU1NTU4ZjY4NjlhOWNmODYi.YHQSWg.RBE5dieEwEu5c2zZoiNrnKCBjIA">
    </div>

    <div>
        <label for="one">1.Согласно теории Максвелла электромагнитные волны излучаются</label>
        <ul id="one">
            <li><input id="one-0" name="one" type="radio" value="только при равномерном движении электронов по прямой">
                <label for="one-0">только при равномерном движении электронов по прямой</label></li>
            <li><input id="one-1" name="one" type="radio" value="только при гармонических колебаниях заряда"> <label
                    for="one-1">только при гармонических колебаниях заряда</label></li>
            <li><input id="one-2" name="one" type="radio" value="только при равномерном движении заряда по окружности">
                <label for="one-2">только при равномерном движении заряда по окружности</label></li>
            <li><input id="one-3" name="one" type="radio" value="при любом неравномерном движении заряда"> <label
                    for="one-3">при любом неравномерном движении заряда</label></li>
        </ul>


    </div>

    <div>
        <label for="two">2.Заряженная частица излучает электромагнитные волны</label>
        <ul id="two">
            <li><input id="two-0" name="two" type="radio" value="только при движении с ускорением"> <label for="two-0">только
                при движении с ускорением</label></li>
            <li><input id="two-1" name="two" type="radio" value="только при движении с постоянной скоростью"> <label
                    for="two-1">только при движении с постоянной скоростью</label></li>
            <li><input id="two-2" name="two" type="radio" value="только в состоянии покоя"> <label for="two-2">только в
                состоянии покоя</label></li>
            <li><input id="two-3" name="two" type="radio"
                       value="как в состоянии покоя, так и при движении с постоянной скоростью"> <label for="two-3">как
                в состоянии покоя, так и при движении с постоянной скоростью</label></li>
        </ul>


    </div>

    <div>
        <label for="three">3.Заряженная частица не излучает электромагнитные волны при</label>
        <ul id="three">
            <li><input id="three-0" name="three" type="radio" value="равномерном прямолинейном движении"> <label
                    for="three-0">равномерном прямолинейном движении</label></li>
            <li><input id="three-1" name="three" type="radio" value="равномерном движении по окружности"> <label
                    for="three-1">равномерном движении по окружности</label></li>
            <li><input id="three-2" name="three" type="radio" value="колебательном движении"> <label for="three-2">колебательном
                движении</label></li>
            <li><input id="three-3" name="three" type="radio" value="любом движении с ускорением"> <label for="three-3">любом
                движении с ускорением</label></li>
        </ul>


    </div>

    <div>
        <label for="four">4.Какое из приведенных ниже природных явлений не может служить примером излучения
            электромагнитных волн?</label>
        <ul id="four">
            <li><input id="four-0" name="four" type="radio" value="Молния"> <label for="four-0">Молния</label></li>
            <li><input id="four-1" name="four" type="radio" value="Полярное сияние"> <label for="four-1">Полярное
                сияние</label></li>
            <li><input id="four-2" name="four" type="radio" value="Излучение звезд"> <label for="four-2">Излучение
                звезд</label></li>
            <li><input id="four-3" name="four" type="radio" value="Гром"> <label for="four-3">Гром</label></li>
        </ul>


    </div>

    <div>
        <input id="btn" name="btn" type="submit" value="Отправить">

    </div>

</form>
{% endblock %}