<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Физика</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cards.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reg.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tests.css') }}">
    <meta name="viewport" content="width=765">
</head>
<body>
<div class="block">
    <a href="/physics"><h1 class="main_h1">Физика, 9 класс </h1></a>
</div>

<div class="block">
    <div style="line-height: 1.5em;">
        <a href="/physics">
            <img src="{{ url_for('static', filename='images/arrow.svg') }}" alt=""
                 style="width: 1.7em; vertical-align: middle">
        </a>
        <h2 class="label_lessons" style="margin-left: 1em; display: inline-block; vertical-align: middle">Тест. Строение
            атома</h2>
    </div>
    <form action="" method="post" novalidate>
        <div>
            {{ form.csrf_token }}
        </div>
        <h3>{{ form.q1.label }}</h3>
        {{ form.q1() }}

        <h3>{{ form.q2 }}</h3>
        {{ form.bool1() }} {{ form.bool1.label }}
        <br>
        {{ form.bool2() }} {{ form.bool2.label }}
        <br>
        {{ form.bool3() }} {{ form.bool3.label }}
        <br>
        {{ form.bool4() }} {{ form.bool4.label }}
        <br>

        <h3>{{ form.q3.label }}</h3>
        {{ form.q3 }}
        <h3>{{ form.q4.label }}</h3>
        {{ form.q4() }}
        {{ form.submit }}
    </form>

    <br>
</div>

</body>
</html>